@model HomeModel
@{
    ViewData["Title"] = "Home Page";
    ViewBag.CssPath = "css/home.min.css";
    ViewBag.JsPath = "js/home.min.js";
}

<div class="home-container container">
    <div class="row">
        <h1 class="text-left" style="margin-bottom:5px">The latest items:</h1>
        <table style="margin-top:0" class="col-8 table-collection-list table table-hover table-bordered text-center">
            <thead class="bg-info">
                <tr>
                    <th>Name</th>
                    <th>Collection Name</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="bg-light" id="tableBody">
                @await Html.PartialAsync("~/Views/Item/ItemShortDescription.cshtml",Model.Items)
            </tbody>
        </table>
    </div>
    <div id="collection-list" class="container-fluid">
        <h1 class="text-left" style="margin-bottom:5px">The largest collections:</h1>
        @await Html.PartialAsync("~/Views/Collection/CollectionPage.cshtml",Model.Collections)
    </div>
    @{
        if (Model.Tags != null)
        {
            <h1 class="text-left">Tags:</h1>
            <div id="tagcloud" class="cloud-tags">
                @{
                    foreach (var tag in Model.Tags)
                    {
                        <a href="@Url.Action("ItemList","Tag",new{id=tag})">@tag</a>
                    }
                }
            </div>
        }
    }
</div>
@await Html.PartialAsync("~/Views/Collection/Update.cshtml", new CollectionViewModel())

