.add_item_cont {
	margin-top: 50px;
}
.item-header{
	font-size: 30px;
	font-weight: 500;
}
.btn-tag{
	padding: 10px 30px;
	border-radius: 5px;
	color:white;
	font-size:16px;
}

.table-tag {
	width: 100%;
	table-layout: fixed;
}
.table-tag > thead, tbody,th, tr, td{
	display:block;
}
#table-body{
	max-height: 390px;
	position:relative;
	overflow:auto;
}
.tag-container{
	position: relative;
}
.overflow-add-fields{
	overflow:auto;
	max-height: 400px;
	height: 400px;
}