.dropdown {
    position: absolute !important;
    left:0;
    top: 37px;
    width: 100%;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    z-index:5;
    color:white;
    padding-left:0;
}

.dropdown li {
    padding: 5px 30px;
    font-size: 16px;
    font-weight:500;
    list-style-type:none;
}
.dropdown li:not(:last-child){
    border-bottom: 1px solid white;
}

.dropdown li:hover{
    color:yellow;
}