.pagination-containter {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding: 15px;
    background-color: white;
}

.Forward_Back_Pages {
    appearance: none;
    display: inline-block;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 15px;
    font-weight: 700;
    color: rgb(35,35,35);
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    border:none;
}
    .Forward_Back_Pages:hover {
        color: rgb(146,16,38);
    }

.page_numb {
    flex: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: rgb(35,35,35);
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    width: 17px;
    text-align: center;
}
.p-radio {
    appearance: none;
    margin: 0;
}
.pagination-wrapper {
    position: relative;
    display: inline-flex;
    max-width: 222px;
    left: 0;
    justify-content: flex-start;
}

.pagination-overflow-wrapper {
    overflow-x: hidden;
}
.pagination-wrapper input:hover + label {
    cursor: pointer;
    color: rgb(146,16,38);
    font-weight: 400;
}

.pagination-wrapper input:checked + label {
    cursor: pointer;
    color: rgb(111, 155, 155);
    font-weight: 400;
}

.attribSort:hover{
    color: yellow;
    background-color:skyblue;
}
#btn-filter{
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 18px;
    font-weight:500;
    border-radius:5px;
    letter-spacing:1px;
}
.filter-wrapper {
    margin-top: 40px;
    background-color: #d3d3a0;
    padding: 10px;
    border-radius: 5px;
}