
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding: 15px;
}
.Forward_Back_Pages {
    appearance: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    height: 15px;
    font-weight: 700;
    color:inherit;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    border:none;
    background-color:inherit;
}
    .Forward_Back_Pages:hover {
        color: darkgoldenrod;
    }

.page_numb {
    flex: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
    width: 17px;
    text-align: center;
}
.p-radio {
    appearance: none;
    margin: 0;
}
.pagination-wrapper {
    position: relative;
    display: inline-flex;
    max-width: 222px;
    left: 0;
    justify-content: flex-start;
}

.pagination-overflow-wrapper {
    overflow-x: hidden;
}
.pagination-wrapper input:hover + label {
    cursor: pointer;
    color: darkgoldenrod;
    font-weight: 400;
}

.pagination-wrapper input:checked + label {
    cursor: pointer;
    color: rgb(111, 155, 155);
    font-weight: 400;
}

.attribSort:hover{
    color: yellow;
    background-color:skyblue;
}
#btn-filter{
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 18px;
    font-weight:500;
    border-radius:5px;
    letter-spacing:1px;
}
.filter-wrapper {
    margin-top: 40px;
    background-color: #d3d3a0;
    padding: 10px;
    border-radius: 5px;
}
.flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.flex-column-container > div{
    width:inherit;
}
#item-list{
    min-height:500px;
}
.Not-Found-Item{
    display:none;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align:center;
    width:100%;
}