
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: rgb(46,51,56);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    vertical-align: top;
    max-width: 100% !important;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(200, 200, 200);
    height: 75vh;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

.info-account {
    font-size: 30px;
    font-weight: 700;
}

.form-elements {
    margin-top: 20px;
}

.labels-account {
    font-size: 20px;
}

.form-container {
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.btn-app {
    border-radius: 10px;
}

.info-table {
    background-color: wheat;
}

.thead {
    background-color: lightgreen;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;
}

.button-create {
    padding: 20px 10px;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
}

    .button-create:hover {
        color: red !important;
        background-color: white;
    }

#collection-list {
    margin-top: 30px;
}

#update_col_cont {
    display: block;
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    height: 100vh;
    max-height: 100vh;
    z-index: 10000;
    overflow: hidden;
}

#collection-wrapper {
    margin-top: 0;
}

.cross-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_send {
    appearance: none;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 25px !important;
    margin-bottom: 0;
}

    .button_send:hover {
        opacity: 1;
    }

.table-collection-list {
    overflow: scroll;
    margin-top: 50px;
}

.item-link {
    text-decoration: underline;
    cursor: pointer;
}

#tagcloud {
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    overflow-wrap: break-word;
    border-radius: 5px;
    flex-wrap:wrap;
}

.tag_links {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: all ease 200ms;
    font-size: 24px;
    text-align: justify;
    font-style: italic;
    padding: 0 20px;
}

    .tag_links:hover {
        color: rgb(55,55,150);
        text-decoration:underline !important;
    }
.wrapper{
    min-width: 380px;
    height: 100%;
}
#update-hide{
    font-size: 20px;
}
#update-hide i:hover {
    color:red;
    cursor:pointer;
}
.footer {
    height: 80px;
    margin-top: 30px;
    padding: 5px;
}
.content {
    min-height: 100%;
}
.nav-item{
    transition: all ease 400ms;
    
}
.nav-link{
    color:black;
}
.nav-link:hover {
     color: rgb(55,55,150) !important;    
     font-weight: 500;
}
.link-language{
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
}
@media (max-width:576px){
    .link-language{
        flex-direction:column;
    }
}

